<article class="nextmeeting">
	<h1>Next Meeing : </h1>
	<p>
		Our next meeting will be on <img src="<%= appdata.meeting.img %>" />
		<%= appdata.meeting.date %>, <%= appdata.meeting.time %> at
		<%= appdata.meeting.where.name %> <%= appdata.meeting.where.address %>
	</p>
	<%= include socialmedia.ejs %>
</article>